'*'代表所有*/
*{
    /*外边距*/
    margin: 0;
    /*内边距*/
    padding: 0;
}
/*设置导航栏不能把下面内容覆盖了*/
body {

    margin-top: 70px!important;
}

ul {
    list-style-type: none!important;
      padding-left: 7px;
      padding-bottom:5px;
}

ul.navbar-right{
    margin-right: 0;
}