h3.home-content {
    font-size: 222%;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
}

div#container{

    marginï¼š 0 auto;
    height: 20em;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data{
    text-align: center;
    margin-top: 2em;
}